.align-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 10px;
  color: lightgrey;
}

.phone-type {
  font-size: 13px;
  color: gray;
}

.headback {
  cursor: pointer;
  color: lightblue;
}

.contact-card {
  width: 20rem;
  margin: auto;
}